<div th:fragment="sidebar">
    <nav>
        <ul id="menu1">
            <li><a th:href="@{/}">Inicio</a></li>
            <li><a th:href="@{/registro}">Registrar</a></li>
            <li><a th:href="@{/asistencia/filtro}">Generar Reportes</a></li>
            <li class="config-item">
                <a th:href="@{/configuracion}">Configuración</a>
                <ul class="submenu">
                    <li><a th:href="@{/R503/autenticar}">Activar Autenticacion</a></li>
                    <li><a th:href="@{/R503/reiniciar}" >Reiniciar Sensor</a></li>
                    <li><a th:href="@{/R503/formatear}" >Formatear Sensor</a></li>

                </ul>
            </li>

        </ul>
    </nav>
</div>

