<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SACHI PROYECT!</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div id="buscador">
<form method="get" action="/usuarios/all">
    <input type="text" name="query" th:value="${query}">
    <button type="submit">Buscar</button>
</form>
</div>


<h1>Usuarios Registrados</h1>

<div id="paginacion">
    <a id="controladorPage" th:if="${currentPage > 0}"
       th:href="@{/usuarios/all(page=${currentPage - 1}, size=5, query=${query})}">Anterior</a>

    <span>Página <span th:text="${currentPage + 1}"></span> de <span th:text="${totalPages}"></span></span>

    <a id="controladorPage" th:if="${currentPage + 1 < totalPages}"
       th:href="@{/usuarios/all(page=${currentPage + 1}, size=5, query=${query})}">Siguiente</a>
</div>

<div id="contenedor">
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Acciones</th>


        </tr>
        </thead>

        <tbody>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.usuario_id}">1</td>
            <td th:text="${usuario.usuarioNombre}">Nombre</td>
            <td th:text="${usuario.usuarioApellido}">Apellido</td>
            <td th:text="${usuario.usuarioTelefono}">2025-04-28</td>
            <td th:text="${usuario.usuarioCorreo}">08:15</td>
            <td>
                <div id="botonesAcciones">
                    <a id="acciones">Editar</a>
                    <a th:href="@{/usuarios/eliminar/{id}(id=${usuario.usuario_id})}" id="acciones">Eliminar</a>


                </div>
            </td>

        </tr>
        </tbody>
    </table>

</div>



</body>
</html>
